ul {
  font-size: 0;
}

li {
  display: inline-block;
}

.covered {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: grey;
}

.empty {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: blue;
}

.number {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: blue;
}

.mine {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: red;
}
