body {
  font-family: monospace;
  box-sizing: border-box; }

.container {
  width: 60%;
  text-align: center;
  margin: auto;
  background: lightgrey; }

ul {
  font-size: 0;
  padding: 0; }

li {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 4px; }

.spot, .covered, .empty, .number, .mine {
  height: 100%;
  width: 100%; }

.covered {
  border-radius: 100%;
  background-color: darkgrey;
  border: 2px solid;
  border-color: gainsboro grey grey gainsboro; }

.empty, .number {
  border-radius: 100%;
  background-color: gainsboro;
  border: 2px solid;
  border-color: grey darkgrey darkgrey grey; }

.number {
  color: blue; }

.mine {
  background-color: red; }
