$lt-green: rgb(154,197,194);
$md-green: rgb(99,172,164);
$md-dk-green: rgb(41,116,116);
$dk-green: rgb(25,75,72);
$red: rgb(176,31,31);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

html {
  height: 100%;
}

body {
  font-family: "Raleway", "Helvetica", sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;

  background-image: url("https://c1.staticflickr.com/7/6183/6132449424_386eee552f_b.jpg");
  background-size: cover;
  background-attachment: fixed;
}

ul {
  padding: 0;
  list-style-type: none;
}

.container {
  height: 100%;
  margin: 0 auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont-easy {
  width: 350px;
}

.cont-medium {
  width: 550px;
}

.cont-hard {
  width: 1024px;
}

h1 {
  margin: 0;
  padding: 16px;

  font-family: "Raleway";
  font-size: 44px;
  span {
    font-weight: 100;
    font-style: italic;
  }
}

.col {
  display: inline-block;
  vertical-align: top;
  margin: 0 2px;
}

.col li {
  display: block;
  height: 30px;
  width: 30px;
  margin: 2px 0;
  @include border-radius(4px);

  font-size: 18px;
  font-weight: 600;

  // center spot content vertically
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spot {
  height: 100%;
  width: 100%;
}

.covered {
  background-color: teal;
  color: transparent;
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.1));

  &:hover {
    cursor: pointer;
    background-color: $lt-green;
  }
}

.empty {
  background-color: transparent;
}

.number {
  background-color: transparent;
  color: black;
}

.flag {
  background-color: teal;
  color: $lt-green;
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.1));
  i {
    font-size: 16px;
  }
  &:hover {
    cursor: pointer;
    background-color: $lt-green;
    color: $dk-green;
  }
}

.flag-wrong {
  background-color: $red;
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.1));
  i {
    font-size: 16px;
  }
}

.suspect {
  background-color: teal;
  color: $md-green;
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.1));
  i {
    font-size: 18px;
  }
  &:hover {
    cursor: pointer;
    background-color: $lt-green;
    color: $dk-green;
  }
}

.mine {
  background-color: transparent;
  i {
    font-size: 16px;
  }
}

.mine-wrong {
  background-color: $red;
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.1));
  i {
    font-size: 16px;
  }
}

.difficulty {
  margin: 10px;
}

.difficulty li {
  display: inline-block;
}

button {
  border: none;
  background-color: teal;
  width: 128px;
  width: 98px;
  height: 30px;
  border-radius: 4px;
  @include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.1));

  font-size: 14px;
  font-family: "Raleway";
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: $lt-green;
  }
}

h2 {
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  margin: 0;
  span {
    font-style: italic;
    font-weight: 400;
  }
}

.text-easy {
  color: inherit;
}

.lost {
  color: $red;
  font-weight: 800;
}

@media (max-width: 1024px) {
  // switch columns for rows to fit smaller screens
  .hard {
    width: 550px;
  }
  .hard .col {
    display: block;
    margin: 0;
    height: 34px;
  }
  .hard .col li {
    float: left;
    margin: 2px;
  }
}
