body {
  font-family: monospace;
  box-sizing: border-box;
}

.container {
  width: 60%;
  text-align: center;
  margin: auto;
  background: lightgrey;
}

ul {
  font-size: 0;
  padding: 0;
}

li {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 4px;
}


// FOR (EVENTUALLY) IMPLEMENTING CUSTOM STYLES
.spot {
  height: 100%;
  width: 100%;
  // text-align: center;
}

.covered {
  @extend .spot;
  border-radius: 100%;
  background-color: darkgrey;
  border: 2px solid;
  border-color: gainsboro grey grey gainsboro;
}

.empty {
  @extend .spot;
  border-radius: 100%;
  background-color: gainsboro;
  border: 2px solid;
  border-color: grey darkgrey darkgrey grey;
}

.number {
  @extend .empty;
  color: blue;
}

.mine {
  @extend .spot;
  background-color: red;
}
