<div class="container">
  <h1>MINE<span>SWEEPER<span></h1>

  <ul ng-repeat="column in minefield.columns"class="col" >
    <li ng-repeat="spot in column.spots" ng-class="getClass(spot)" ng-click="uncoverSpot(spot)" ng-right-click="flagSpot(spot)" ng-bind-html="getContent(spot)"></li>
  </ul>

  <ul class="difficulty">
    <li><button type="button" name="easy" ng-click="newGame(9, 9, 10)">Easy</button></li>
    <li><button type="button" name="medium" ng-click="newGame(16, 16, 40)">Medium</button></li>
    <li><button type="button" name="hard" ng-click="newGame(16, 30, 99)">Hard</button></li>
  </ul>

  <h2 ng-if="!isWinMessageVisible">Mines left:<span ng-class="{ 'lost': isLostMessageVisible}" > {{ mines }}</span></h2>

  <h2 ng-if="isWinMessageVisible">You won</h2>
</div>
